{% extends 'base.html.twig' %}

{% block body %}


    <h1 class="display-3 text-center">BILLETTERIE</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="card-header">Commande validée avec succès</div>
                <div class="card-body"><p> Merci pour votre commande. Si vous avez un tarif réduit, il est obligatoire de présenter votre carte étudiant, militaire ou équivalent lors de l'entrée. </p>


                </div>
            </div>
        </div>
    </div>
{% endblock %}