{% extends 'base.html.twig' %}

{% block title %} Contact{% endblock %}
    
{% block body %}
</br>
<div class="container container1">
	<h1 class="text-center">Contact</h1>
	<hr>
	<div class="row">
	<hr>
		<div class="col-md-4 text-center text-md-left">
		<h1><a href="mailto:le.musee.du.louvre.75@gmail.com?subject=1er contact"><i class="fas fa-envelope"></i></a></h1>
			<h3>Par mail !</h3></br>
				<p>Envoyez-nous un e-mail </br>
				Nous vous répondrons dans </br>
				un délai d'un jour ouvré</p>
		</div>
	<hr>
		<div class="col-md-4 text-center text-md-left">
		<h1><span class="fas fa-wheelchair"></span></h1>
			<h3>Personnes handicapées</h3>
				<p>Standard : +33 (0)1 40 20 50 50 </br>
					Information : +33 (0)1 40 20 53 17 </br>
					Ligne visiteurs handicapés :</br> +33 (0)1 40 20 59 90 
					</br>
					handicap@louvre.fr</p>
		</div>
	<hr>
		<div class="col-md-4 text-center text-md-left">
		<h1><span class="fas fa-phone-square"></span></h1>
			<h3>Par téléphone !</h3>
				<p>Téléphone : + 33 (0)1 40 20 50 50 </br>
				De 9h à 17h pendant l'ouverture du Musée.</p>
		</div>
	<hr>
		<div class="col-md-4 text-center text-md-left">
		<h1><a  href="https://www.facebook.com/" ><i class="fab fa-facebook-square"></i></a></h1>
			<h3>Facebook </h3>
				<p>Suivez nous sur facebook.</p>
		</div>
	<hr>	
		<div class="col-md-4 text-center text-md-left">
		<h1><a  href="https://twitter.com//" ><i class="fab fa-twitter-square"></i></a></h1>
			<h3>twitter </h3>
				<p>Suivez nous sur twitter.</p>
		</div>
	<hr>
		<div class="col-md-4 text-center text-md-left">
		<h1><a  href="https://www.instagram.com/?hl=fr" ><i class="fab fa-instagram"></i></a></h1>
			<h3>instagram </h3>
				<p>Suivez nous sur instagram.</p>
		</div>


	<hr>
	</div>
	<footer>
	  	<p class="text-center"> Musée du Louvre © 2019.</p>
	</footer>

</div>
{% endblock %}
