{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block head%}
	 <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript> 
	 <link rel="stylesheet" href="css/main.css" />
{%endblock%}

{% block menu%}
       <div class="collapse navbar-collapse" id="navbarColor01">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link jumbo" href={{ path('reservation') }}><i class="fas fa-home">Billetterie</i></a><span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link " href={{ path('infos')}} ><i class="far fa-hand-point-right">Informations pratiques</i></a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href={{ path('contact') }}><i class="far fa-hand-point-right">Contact</i></a>
                                    </li>
                                </ul>
{%endblock%}
  
{% block body %}

<section class="wrapper style1 align-center">
	<div class="inner">
		<h2>Musée du Louvre</h2>
			<p>Pour toutes questions, techniques ou éditoriales, relatives au Musée du Louvre, vous pouvez utiliser differents moyens:</p>
		<div class="items style1 medium onscroll-fade-in">
	<section>
		<h1><a class="nav navbar-nav" href="mailto:le.musee.du.louvre.75@gmail.com?subject=1er contact"><i class="fas fa-envelope"></i></a></h1>
			<h3>Par mail !</h3>
			</br>
				<p>Envoyez-nous un e-mail </br>
				Nous vous répondrons dans </br>
				un délai d'un jour ouvré</p>
	</section>
	<section>
		<h1><span class="fas fa-wheelchair"></span></h1>
			<h3>Personnes handicapées</h3>
				<p>Standard : +33 (0)1 40 20 50 50 </br>
					Information : +33 (0)1 40 20 53 17 </br>
					Ligne visiteurs handicapés :</br> +33 (0)1 40 20 59 90 </br>
					</br>
					handicap@louvre.fr
				</p>
	</section>
	
	<section>
		<h1><span class="fas fa-phone-square"></span></h1>
			<h3>Par téléphone !</h3>
			</br>
				<p>Téléphone : + 33 (0)1 40 20 50 50 </br>
				De 9h à 17h pendant l'ouverture du Musée.</p>
	</section>
	<section>
		<h1><a  href="https://www.facebook.com/" <i class="fab fa-facebook-square"></i></a></h1>
			<h3>Facebook </h3>
				<p>Suivez nous sur facebook.</p>
	</section>
	<section>	
		<h1><a  href="https://twitter.com//" <i class="fab fa-twitter-square"></i></a></h1>
			<h3>twitter </h3>
				<p>Suivez nous sur twitter.</p>
	</section>
	<section>
		<h1><a  href="https://www.instagram.com/?hl=fr" <i class="fab fa-instagram"></i></a></h1>
			<h3>instagram </h3>
				<p>Suivez nous sur instagram.</p>
	</section>
	
				</div>
			</div>
	</section>		
	<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>








	<footer>
	  	<p class="text-center"> Musée du Louvre © 2019.</p>
	</footer> <br/>

</div>
{% endblock %}
